# ============================================================
# Download and workspace
# ============================================================

/document/
/download/
/workspace/


# ============================================================
# STM32CubeIDE
# ============================================================

.metadata/
.settings/language.settings.xml
.settings/org.eclipse.core.resources.prefs
.settings/stm32cubeide.project.prefs

# ============================================================
# Build
# ============================================================

Debug/
Release/

**/Debug/
**/Release/

*.launch

# ============================================================
# Objects
# ============================================================

*.o
*.d
*.su
*.elf
*.hex
*.bin
*.map
*.list

# ============================================================
# Temp
# ============================================================

*.tmp
*.bak
*.log

# ============================================================
# OS
# ============================================================

.DS_Store
Thumbs.db

# ============================================================
# Python
# ============================================================

__pycache__/
venv/
.venv/
